.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.menu-section {
  width: 100%;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2015/10/30/20/13/sunrise-1014712__340.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-box {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  flex-wrap: wrap;
}

.dropbtn {
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  padding: 16px;
  font-size: 16px;
 border: none;
  height: 100%;
  cursor: pointer;
  border-bottom: 5px solid rgba(255, 255, 255, 0);
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 102%;
  left: 0;
  background-color: rgba(241,241,241,0.7);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {border-bottom: 5px solid rgba(255, 255, 255, 1) }


.chapter-section{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(48, 10, 153);
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.chapter1, .chapter3, .chapter5, .chapter2, .chapter4{
  position: absolute;
  width: 200px;
  height: 80px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 20px;
  opacity: 0.5;
}

.chapter1{
  top: 9%;
  left: 15%;
}
.line1{
  top: 18%;
  left: 22%;
}
.chapter3{
  top: 12%;
  left: 41%;
  
}
.line3 {
   top: 20%;
   left: 48%;
}
.chapter5 {
  top: 6%;
  right: 3%;
}
.line5 {
  top: 15%;
  right: 10%;
}
.line1, .line3, .line5, .line2, .line4 {
  width: 2px;
  height: 80px;
  background-color: white;
  position: absolute;
  opacity: 0.5;
}
.chapter2 {
  bottom: 9%;
  left: 24%;
}
.line2 {
  bottom: 18%;
  left: 31%;
}
.chapter4 {
  bottom: 28%;
  right: 23%;
}
.line4{
  bottom: 38%;
  right: 30%;
}
.chapter-section span {
  font-size: 30px;
}
.active {
  opacity: 1;
}
@media(max-width:1025px){
  
  .chapter1, .chapter3, .chapter5, .chapter2, .chapter4{
    width: 150px;
    height: 50px;
    font-size: 15px;
  }
  .chapter-section span{
    font-size: 25px;
  }
  .line1, .line3, .line5, .line2, .line4{
    height: 70px;
  }
} 
@media(max-width: 800px){
  .chapter1, .chapter3, .chapter5, .chapter2, .chapter4{
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  .line1{
    -webkit-top: 15%;
    -moz-top:15%;
    top: 15%;
  }
  .chapter1 {
    left: 16%;
  }
  .chapter3 {
    left: 42%;
    top: 13%;
  }
  .chapter-section span{
    font-size: 20px;
  }
  .chapter5 {
    top: 8%;
  right: 4%;
  }
  .chapter2 {
    bottom: 10%;
  left: 25%;
  }
  .line4{
    bottom: 36%;
  }
}
@media(max-width: 600px){
  .line1{
    top: 20%;
    left: 23%;
  }
  .chapter1{
    top:13%;
  }
  .chapter3 { 
    top: 16%;
  }
  .line3{
   top: 22%;
   left: 49%;
  }
  .line5{
    top: 19%;
    right: 12%;
  }
  .chapter5{
    top: 12%;
    right: 4%;
  }
  .line2{
    bottom: 20%;
  }
  .chapter2{
    bottom: 13%;
  left: 24%;
  }
  .chapter4{
    right: 21%;
  }
}
@media(max-width:480px){
  .chapter1{
    top: 15%;
    left: 14%;
  }
  .line1{
    top: 22%;
  }
  .chapter3{
    top: 20%;
    left: 40%;
  }
  .line3{
    top: 26%;
  }
  .chapter5{
    top: 17%;
    right: 2%;
  }
  .line5{
    top: 23%;
  }
  .chapter2{
    bottom: 15%;
    left: 22%;
  }
  .line2{
    bottom: 22%;
  }
  .chapter4{
    bottom: 29%;
    right: 20%;
  }
}
@media(max-width:350px){
  .chapter1, .chapter3, .chapter5, .chapter2, .chapter4{
    width: 80px;
    height: 25px;
    font-size: 10px;
  }
  .line1, .line3, .line5, .line2, .line4{
    height: 60px;
    width: 1px;
  }
  .chapter-section span{
    font-size: 16px;
  }
  .chapter1{
    top: 23%;
    left: 13%;
  }
  .line1{
    top: 29%;
  }
  .chapter3{
    top: 26%;
    left: 38%;
  }
  .line3{
    top: 31%;
  }
  .chapter5{
    top: 25%;
  }
  .line5{
    top: 30%;
  }
  .chapter2{
    bottom: 25%;
    left: 21%;
  }
  .line2{
    bottom: 30%;
  }
  .chapter4{
    bottom: 33%;
    right: 19%;
  }
  .line4{
    bottom: 38%;
  }
}